* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 7rem);
}

body {
    background-color: var(--clr-blue-gray);
    color: var(--clr-white);
}

h1 {
    font-family: var(--font-sans-serif);
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: var(--space-between-tight-font);
}

h2 {
    font-family: var(--font-mono);
    font-size: 1.75rem;
    font-weight: normal;
    letter-spacing: var(--space-between-tight-font);
}

h3 {
    font-family: var(--font-mono);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}

p, ol, ul, li, a {
    font-size: 1rem;
    font-family: var(--font-mono);
    letter-spacing: .05rem;
    line-height: 1.4;
}

a {
    font-weight: 600;
    color: var(--clr-light-blue);
    transition: all .2s;
}

a:hover {
    filter: contrast(3);
}

:is(p,li):not(:last-child) {
    margin-bottom: var(--space-small-symmetric);
}

ol, ul {list-style-type: none;}
li {display:block;}

strong {filter: hue-rotate(50deg);}

mark {
    background-color: rgba(254 254 254 / 10%);
    color: inherit;
    padding: .25rem;
}